* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body, button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

body {
  color: #000;
  background-color: #fff;
  margin: 0;
  padding: 1em;
}

img {
  border: none;
}

a {
  color: #17b;
}

header {
  width: 49em;
  padding-bottom: 1em;
  border-bottom: 3em solid #b1be19;
  margin-bottom: 2em;
}

h1 {
  color: #333;
  font-size: 1.6em;
  font-weight: normal;
  margin: 0 0 .7em 0;
}

button {
  display: block;
  cursor: pointer;
  color: #444;
  padding: .5em;
  border: 1px solid #ddd;
  background-color: #eee;
  height: 3em;
  margin-bottom: 7em;
}
button:hover {
  background-color: #dfa;
}

#doc-list {
  width: 50em;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
#doc-list.loading {
  background: #fff url('./images/loading.gif') left top no-repeat;
  height: 10em;
}
#doc-list.error {
  background-color: #fdd;
  padding: 1em;
}

#doc-list .doc-item {
  float: left;
  width: 48%;
  list-style-type: none;
  background-color: #dfa;
  background-position: .5em .5em;
  background-repeat: no-repeat;
  margin: 0 2% 1em 0;
}

#doc-list .doc-item a {
  display: block;
  padding: .5em .7em;
  overflow: hidden;
}

#doc-list  .doc-item.type-word {
  background-image: url('./images/document-word.png');
}
#doc-list  .doc-item.type-excel {
  background-image: url('./images/document-excel.png');
}
#doc-list  .doc-item.type-pdf {
  background-image: url('./images/document-pdf.png');
}
#doc-list  .doc-item.type-image {
  background-image: url('./images/document-image.png');
}
#doc-list  .doc-item.type-text {
  background-image: url('./images/document-text.png');
}
#doc-list  .doc-item.type-default {
  background-image: url('./images/document.png');
}

#doc-list .doc-item .doc-id,
#doc-list .doc-item .doc-size,
#doc-list .doc-item .doc-date {
  font-size: .85em;
}

#doc-list .doc-item .doc-id {
  float: right;
  color: #999;
}
#doc-list .doc-item .doc-name {
  float: left;
  margin-left: 18px;
  text-decoration: underline;
}
#doc-list .doc-item .doc-date {
  clear: left;
  float: left;
  color: #777;
  margin-top: .4em;
}
#doc-list .doc-item .doc-size {
  float: right;
  color: #444;
  margin-top: .4em;
}

footer {
  width: 58.82em;
  color: #999;
  font-size: .85em;
  padding: 1em 0;
}

footer a {
  color: #666;
}
